html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  margin-bottom: 65px;
}
h1,
h2,
h3 {
  color: #2a74bf;
  font-weight: bold;
}
.border-primary {
  border-bottom: 3px solid #2a74bf !important;
}
.navbar-light .navbar-nav .active {
  background-color: #2a74bf;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #ffffff;
}
.navbar-toggler {
  padding: 0.25rem 0.55rem;
  font-size: 16px;
}
.class {
  padding: 1px;
}
.class__name {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 0.5em 0.2em;
}
.class--style__one {
  background-color: #d7514c;
}
.class--style__two {
  background-color: #2a74bf;
}
.class--style__three {
  background-color: #d8c11d;
}
.class--style__four {
  background-color: #4d944b;
}
.footer__content {
  background-color: #666666;
  color: #ffffff;
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
